
.guestsConstainer >  { 
		float:left;
		width: 140px;
		height: 200px;
		margin: 0 auto;
	} 

	.guestsConstainer > div { 
		float:left;
		width: 350px;
		margin: 0 auto;
	} 
	.buttonContainer {
		float: left;
		margin: 3px;
		width: 50px;
		height: 50px;
	/* 	display: table; */
	
	}

.buttonContainer > button {
	width: 50px;
	height: 50px;
	/* margin: 3px; */
	font-size: 20px;
	background:rgb(106, 209, 183);
	color: #ffffff;
	margin: 0;
	border-radius: 3px;
}
.moreButton > button {
	width: 90px;
	height: 30px;
	/* margin: 3px; */
	font-size: 13px;
	background:rgb(106, 209, 183);
	color: #ffffff;
	margin: 0;
	border-radius: 3px; 
}