:root {
	--text-color: #f6f4e6;
}

body {
	background-image: url('../src/assets/restaurang.jpg');
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-size: 'contain';
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	color: var(--text-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.homeComponent {
	border: 1px solid #1a202c;
	width: 50%;
	margin: 0 auto;
	background: black;
	padding: 30px;
	margin-top: 40px;
}

.dateComponent {
	margin-top: 10px;
	margin-bottom: 30px;
}

.dateComponent > span {
	text-align: center;
	flex-direction: row;
	margin: 3px;
	margin: 8px;
}
.dateComponent > span > button {
	width: 80px;
	margin: 0 auto;
	padding: 0;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;

	cursor: pointer;
	border: 1px solid #1a202c;
	padding: 8px;

	transition: all 0.1s ease-in;

	&:hover {
		background: #7fb4a4;
		color: #ffffff;
	}
}

.timeComponent {
	margin-top: 10px;
	margin-bottom: 30px;
}

.timeComponent > span {
	text-align: center;
	flex-direction: row;
	margin: 3px;
}

.timeComponent > span > button {
	width: 80px;
	margin: 0 auto;
	padding: 0;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;

	cursor: pointer;
	border: 1px solid #1a202c;
	padding: 8px;

	transition: all 0.1s ease-in;

	&:hover {
		background: #7fb4a4;
		color: #ffffff;
	}
}
.Btn-search {
	width: 300px;
	height: 35px;
	margin: 0 auto;
	padding: 0;
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	text-align: center;
	margin-bottom: 30px;

	cursor: pointer;
	border: 1px solid #1a202c;
	padding: 8px;

	transition: all 0.1s ease-in;

	&:hover {
		background: #7fb4a4;
		color: #ffffff;
	}
}

.expanding-form{
	// overflow: hidden;
	// line-height: 50px;

	// transition: all .5s ease-in-out;
	// height: 0;
		
	
	
	// .expanding-form:target {
	// 	height: 50px; 
	// }
}

.bookingConfirm {
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	color: white;
}

.form-div{
	margin: auto;

	.input-error-message{
		font-size: 13px
	}
}
 

.header {
	background: rgba(0, 0, 0, 0.6);
	padding: 5px;
	width: 65%;
	margin: auto;
	margin-top: 40px;
}

input {
	overflow: visible;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
	border: 0px;
	padding: 8px;
	padding-left: 12px;
	margin: 5px 5px 12px 5px;
	background-color: #f8f8f8;

	&:hover {
		box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.7);
	}

	&:focus {
		box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.7);
	}
}
.guestHome {
	height: 100px;
}

.btn-post {
	width: 80px;
	margin: 0 auto;
	padding: 0;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	border-radius: 3px;
	margin: 3px;

	cursor: pointer;
	border: 1px solid #1a202c;
	padding: 8px;

	transition: all 0.1s ease-in;

	&:hover {
		background: #7fb4a4;
		color: #ffffff;
	}
}



.error-message{
	color: red;
}

::-webkit-resizer {
	display: none;
  }